<footer id='footer' class='footer-bottom' style="color: #2E3440;">
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>© 2026 Beauty in English</p>
        </div>
      </div>
    </div>
  </div>
</footer>